.menu {
    width: 100%;
    height: 100%;
    background-color: var(--l3-color);
    font-size: x-small;
    padding-top: 3em;
}


.menuList {
    list-style-type: none;
    margin-top: 0;
    padding-left: .5em;
    padding-top: 1em;
}

.menuItem {
    background-color: inherit;
    color: #000;
    font-weight: bold;
    font-style: oblique;
    margin-left: 0;
}


.username {
    background-color: inherit;
    color: rgb(172, 10, 45);
    font-weight: bold;
    margin-left: 0;   
}